.contenedor{
    background-color: aquamarine;
    display: flex;

}

.formularioHomeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 440px;
    background-color: bisque;
}