body {
    background: #E8F1F3;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    
}

Img {
    width: 50%;
}

.formularioHomeDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15%;
    height: 70%;
    background-color: white;
    padding: 10px 35px;
    border-radius: 30px;
}


input {
    width: 200px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background: #E8F1F3;
    margin-bottom: 17px;
}

button {
    margin-bottom: 17px;
    border-radius: 30px;
    border: none;
    width: 200px;
    height: 30px;
    background: #17554B;
    color: #E8F1F3;
}

.botonGoogle {
    background: #E8F1F3;
    background-image: url(img/logoGoogle.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 15px 5px;
    margin-bottom: 17px;
    color: #17554B;
}

.textErrorSingIn {
    color: red;
}

